bottle==0.12.19
bottle-websocket==0.2.9
cffi==1.14.0
Eel==0.12.2
future==0.18.2
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
pafy==0.5.5
pycparser==2.20
whichcraft==0.6.1
youtube-dl==2020.3.24
